[core]
    editor = code --wait
[user]
    name = Simon Varlow
    email = svarlow@gmail.com
[github]
    username = rugbyte
[color]
    ui = true
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    c = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am
    cl = clone
    cb = checkout -b
    com = checkout master
    d = diff
    dc = diff --cached